.day {
 
  background: url("bgg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.night {
  background: linear-gradient(
    171.8deg,
    rgb(5, 111, 146) 13.5%,
    rgb(6, 57, 84) 78.6%
  );
  background-attachment: fixed;
}


